
@model WeiShop.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutNav.cshtml";
}

<!--ftop开始-->
<div class="ftop">
    <div class="index_search">
        <input onclick="document.location='search.html'" type="text" placeholder="请输入您要搜索的产品">
        <p><a href="@Url.Action("Gonggao")"><img src="~/Content/images/icon_05.png"><sup>@Model.NoticeNum</sup></a></p>
    </div>
    <div style="clear: both;"></div>
</div>
<!--ftop开始-->
<!--banner start-->
<div class="swiper-container index_banner">
    <div class="swiper-wrapper">
        @foreach (var banner in Model.Banners)
        {
            <div class="swiper-slide">
                <a href="@banner.Link"><img src="@banner.Image" alt=""></a>
            </div>
        }
    </div>
    <div class="swiper-pagination swiper-index"></div>
</div>

<!--banner over-->
<div class="index_knowledge">
    <img src="~/Content/images/icon_0902.png">
    <div class="swiper-container dlist">
        <div class="swiper-wrapper">
            @foreach (var notice in Model.Notices)
            {
                <a class="swiper-slide" href="@Url.Action("Ggxiang","Home",new { notice.Id})"><i>最新</i>@notice.Title</a>
            }
            

        </div>
    </div>
</div>

<div class="index_main">
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>
                <a href="@Url.Action("ProductDetail", "Sort", new {proCode=product.Code})">
                    <img src="@product.ProPhotoes.FirstOrDefault(p => p.No == 0).ImgUrl">
                </a>
                <div class="product_text">
                    <h2>
                        <p>@product.Name</p>
                        <span><img src="~/Content/images/icon_06.png"><img src="~/Content/images/icon_06.png"><img src="~/Content/images/icon_06.png"><img src="~/Content/images/icon_06.png"><img src="~/Content/images/icon_07.png"></span>
                    </h2>
                    <p>@product.Intro</p>
                    <h3>
                        <p><i>￥</i><b>@product.SellPrice</b>
                        @foreach (var tag in product.Tags)
                        {
                            <span>@tag.Name</span>
                        }
                        </p>
                        <a href="product_xq.html">立即购买</a>
                    </h3>
                </div>
            </li>
        }
        
    </ul>
</div>
<div class="index_icon">
    <p>
        <span><img src="~/Content/images/icon_01.png"><i>品质保证</i></span>
        <span><img src="~/Content/images/icon_02.png"><i>送货保障</i></span>
        <span><img src="~/Content/images/icon_003.png"><i>7天包换</i></span>
        <span><img src="~/Content/images/icon_04.png"><i>质量保障</i></span>
    </p>
</div>

@section Style
{
    <link href="~/Content/css/index.css" type="text/css" rel="stylesheet">
    <link href="~/Content/css/swiper.min.css" type="text/css" rel="stylesheet">
}

@section Script
{
    <script src="~/Scripts/index.js" type="text/javascript"></script>
    <script src="~/Scripts/swiper.min.js" type="text/javascript"></script>
    <script>
	    var swiper1 = new Swiper('.index_banner', {
		    pagination: '.swiper-index',
		    paginationClickable: true,
		    loop: true,
		    autoplay: 4000
	    });

      var swiper1 = new Swiper('.dlist', {
        loop: true,
        autoplay: 4000,
        direction : 'vertical'
      });
    </script>
}

